# folowing var is required when database is other than sqlite
# by default application will use sqlite db and write dta into app_local.db or app_cloud.db files
# DATABASE_URL=mysql://user:password@host:8008/dbname

# remote adress allowed to access backend
ALLOWED_ORIGINS=http://localhost:5173

# video clip storage mode (local, cloud)
# cloud = clips will be stored on cloud (blackblaze B2 storage)
# local = clips will be stored in local folder (easy for testing)
STORAGE_BACKEND=local

# if STORAGE_BACKEND=cloud then follow connection Keys are required
# storage bucket hosting variables (hosted on blackblaze)
# all the following details can be found during and after creating bucket and generating keys
B2_BUCKET_NAME=your-bucket-name                         
B2_ENDPOINT_URL=your-bucket-url
B2_KEY_ID=your-bucket-key
B2_APPLICATION_KEY=your-application-secret-key
B2_REGION=your-storage-region 

# if STORAGE_BACKEND=local then following keys are required 
# default values: LOCAL_VIDEOS_DIR=videos       BACKEND_BASE_URL=http://localhost:8000
LOCAL_VIDEOS_DIR=videos
BACKEND_BASE_URL=http://localhost:8000